.container{
    background-color: antiquewhite;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
}

.b-close{
    position: fixed;
    top: 0;
    right: 10px;
    font-size: 50px;
    color: red;
}