.heading{
  color: red;
}

.pro-container{
  display: flex;
  /* defalt = row align */
  flex-wrap: wrap;
  /* jc - R to L center */
  justify-content: center; 
  /* aT ttob center */
  align-items: center;
  height: 100vh;
}
